NEXT_PUBLIC_API_URL=http://localhost:5000

NEXT_PUBLIC_AUTH_ROUTE=/auth
NEXT_PUBLIC_DEBATES_ROUTE=/debates
NEXT_PUBLIC_USERS_ROUTE=/users
NEXT_PUBLIC_ANALYTICS_ROUTE=/analytics

NEXT_PUBLIC_APP_NAME=Debate Revolution
NEXT_PUBLIC_PRIMARY_COLOR=#3a67b2
NEXT_PUBLIC_SECONDARY_COLOR=#5aa899
NEXT_PUBLIC_ACCENT_COLOR=#8f6f53
